	<footer  class="footer flex flex-center">Made With Love for Curious Folks</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="JS/index.js"></script>
</body>
</html>
