<%- include('partials/header.ejs') %>
	<section class="container">
		<form class="flex flex-center" action="/" method="post">
			<button class="btn" name="option" value="make">Make a quiz</button>
			<button class="btn"  name="option" value="take">Take a Quiz</button>
		</form>
	</section>

<%- include('partials/footer.ejs')%>
