<%- include('partials/header.ejs') %>
<form class="flex" id='mform' action='/make' method='POST'>
	<h1>Make A quiz</h1>
	<div class='flex col flex-center'>	
	   <p>Name of the Quiz!</p>
	   <input name='qname' type='text' class='search-box'>
	   <span id='warning'></span>
	   <p>Choose your diffculty</p>	
	</div>	
	<div class="flex flex-center">  	
	  <button name="level" value="3"  class='btn easy'>Easy</button>
	  <button name="level" value="5"  class='btn med'>Meduim</button>
	  <button name="level" value="10" class='btn hard'>Hard</button>
	</div>  

</form>
<%- include('partials/footer.ejs') %>
